
#closeSinglePlanetPage{
  position: fixed;
  right: 0px;
  top: 0px;
  font-size: 24px;
  padding: 5px;
  color: red;
}
.ppp{
  font-size: 30px;
}
.input-field-for-search{
  margin-top: 60px;
  margin-left: 45%;
  text-align: center;
  width: 300px;
}
.planets-row{
  margin-top: 20px;
  .planet-card-column{   
    margin-bottom: 30px;
    width: 30%;
    height: 40%;
    .planet-card{
      height: 300px;
      width: 100%;
      background-color: rgb(15, 13, 13);
      color: white;
      text-align: center;
      .planet-image{
        height: 200px;
        width: 200px;
      }
    }
  }
}