
#closeSinglePlanetPage{
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 24px;
  padding: 5px;
  color: rgb(112, 49, 49);
}
.ppp{
  font-size: 30px;
}
.input-field-for-search{
  margin-top: 60px;
  margin-left: 45%;
  text-align: center;
  width: 300px;
}
.planets-row{
  margin-top: 20px;
  .planet-card-column{   
    margin-bottom: 30px;
    width: 30%;
    height: 40%;
    .planet-card{
      height: 300px;
      width: 100%;
      background-color: rgb(3, 20, 43);
      color: white;
      text-align: center;
      .planet-image{
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;        
      }      
    }
  }
}

#single-planet{
  .single-planet-image-description{
    text-align: center;
    width: 80%;
    margin: 20px;
    #single-planet-image img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      height: 80%;
    }
  }
}