@import "~bootstrap/scss/bootstrap";

body{
    background-color:white;
    background-image: url('./backgroundImage/stars.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .9;
    filter: alpha(opacity=20)
}

